[package]
name = "frame_compiler"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.0.22", features = ["derive"] }
llvm-ir = { path = "../libs/llvm-ir", features = ["llvm-14"] }